/* =======================
BENDRI STILIAI
========================*/

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

#pradzia {
    height: 100vh;
    background-image: url('Rusell.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 80;
}

#pradzia .tekstas {
    position: absolute;
    bottom: 10%;
    right: 15%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

#pradzia .tekstas h1 {
    margin-top: 0;
    margin-bottom: 0;
}
#pradzia .tekstas p {
    margin-top: 0;
}
/* #pradzia .tekstas h1 {
    margin-top: 0;
} */

/* #pradzia .tekstas h1,
#pradzia .tekstas p {
    margin: 0;
} */

/* #pradzia .tekstas > * {
    margin: 0;
} */

#antras {
    height: 300px;
    background: orange;
    position: relative;
}

#antras .skraidantis1{
position: absolute;
bottom: 20px;
left: 50px;
background: darkgreen;
}
#antras .skraidantis2 {
position: absolute;
top: 20px;
right: 50px;
background: darkgreen;
}
/* ============================
 Navigacija !!!!!!!!!!!!!!!!
=============================*/
#navigacija {
    text-align: center;
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#navigacija a {
    color: white;
    text-decoration: none;
}

#navigacija a:hover {
    color: orange;
}

#navigacija ul li{
    display: inline-block;
    padding-right: 20px;
}

#navigacija ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}
/* =======================
SAUSAINIŲ JUOSTOS STILIAI
======================= */
#sausainiai {
    background: white;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 90;
    color: black;
    padding: 10px 20px;
}

#sausainiai p {
    margin: 0;
}

#sausainiai {
    background: white;
    border: 1px solid #222;
    cursor: pointer;
}

/* 
=============================
NAVIGACIJA APACIOJE!!!!!!!!!!!!!
=============================
*/

#nav2 {
    background: darksalmon;
    text-align: center;
    color: black;

}

#nav2 p,
#nav2 .nuorodos {
    margin: 0;
}

#nav2 .nuorodos {
    padding: 0;
}

#nav2 .nuorodos li {
    display: inline-block;
    margin: 0 20px;
    list-style-type: none;
}
#nav2 .nuorodos li a {
    text-decoration: none;
    color: black;
}