.home-page {
    display: flex;
    width: 1440px;
    padding-right: 80px;
    margin-right: 80px;

    .turinys {
        width: 822px;
        height: 768px;
        background: var(--Coffee-black-5, #F6F4F5);
        position: relative;
        display: flex;
        justify-content: left;
        text-align: left;
        align-items: center;
        flex-wrap: wrap;
        padding: 198px 310px 304px 80px ;
        box-sizing: border-box;
    }

    .bg1-1 {
        position: relative;
        margin-top: 96px;
        margin-right: 80px;
            .bg1 {
        position: absolute;
        width: 737px;
        height: 536px;
        left: 425px;
        bottom: -140px;
    }
    }
    

}

