.services-page {
    header {
        background-color: orangered;
        padding: 80px 0;
    }

    .paslaugos {
        padding: 80px 0;

        .paslauga {
            margin: 20px 0;
        }
    }
}