/* /=====================================
GENERAL STYLES
=========================================*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.general-section {
    padding: 100px 0;
}

.general-section .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.general-section .title-part {
    text-align: center;
    margin-bottom: 71px;
    justify-content: center;
    padding: 0 296px 0 296px;
}

.general-section .title-part h2 {
    color: #222;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.general-section .content-part .artist-block h3 {
    color: #222;
    text-align: center;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.general-section .content-part .artist-block p {
    color: #222;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}


.general-section .title-part .red-row {
    background: #EB5757;
    width: 31px;
    height: 5px;
    margin: 19px auto;
}

.general-section .title-part p {
    font-size: 20px;
    color: #222;
    margin: 0;
}

/* /=====================================
NAVIGATION
=========================================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 47px 72px;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #222222;
}

nav h1 {
    font-size: 22px;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 63px;
}

nav ul .active a,
nav a:hover {
    color: #EB5757;
}

/* /=====================================
HEADER
=========================================*/

header {
    height: calc(100vh - 120px);
    background: url('img/header.jpg') center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 80px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

header p {
    font-size: 40px;
    color: white;
    margin: 16px 0 43px;
}

header .buttons a {
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px 66px;
    display: inline-block;
}

header .buttons .primary-button {
    color: white;
    background: #EB5757;
    margin-right: 21px;
}

header .buttons .secondary-button {
    color: #EB5757;
    background-color: white;
}

header .content {
    width: 100%;
    max-width: 1000px;
}

/* /=====================================
CITATION
=========================================*/

.citation {
    background: #EB5757;
    padding: 39px 0;
}

.citation p {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1200px;
}

/* /=====================================
ARTISTS SECTION
=========================================*/

.artists-section {
    background: #f8f8f8;
}

.artists-section .content-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artists-section .content-part .artist-block {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 28px 44.5px;
}

.artists-section .content-part .artist-block .image img {
    width: 238px;
    height: 238px;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.artists-section .container .title-part p {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    width: 735px;
}

/* /=====================================
GALLERY SECTION
=========================================*/

.gallery-section {
    background: rgba(235, 87, 87, 0.10);
}

.gallery-section .container .title-part p {
    width: 735px;
}

.gallery-section .content-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-section .content-part img {
    height: 248px;
    width: 248px;
    object-fit: cover;
    padding: 12px;
    box-sizing: border-box;
}

/* /=====================================
TICKET SECTION
=========================================*/

.ticket-section .container .tickets {
    display: flex;
}

.ticket-section .ticket-block {
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
    width: 447px;
    height: 375px;
    text-align: center;
}

.ticket-section .tickets {
    gap: 37.5px;
}

.ticket-section .tickets .button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 15px 66px;
    display: inline-block;
    color: white;
    background: #EB5757;
}

.ticket-section .ticket-block p {
    width: 300px;
    padding-left: 50px;
}

.ticket-section .ticket-block h3 {
    color: #222;
    text-align: center;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.ticket-section .ticket-block ul {
list-style-type: none;
}

.ticket-section .ticket-block .kaina1 {
    color: #222;
    text-align: center;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.ticket-section .ticket-block .kaina2 {
    color: #EB5757;
    text-align: center;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ticket-section .ticket-block .black-row {
    background: #2222221c;
    height: 1px;
    margin: 19px auto;
}

.ticket-section .tickets .button {
    padding-top: 23px;
}


/* /=====================================
KAIP RASTI SECTION
=========================================*/

.rasti-section {
    background: rgba(235, 87, 87, 0.10);
    justify-content: center;
}

.rasti-section .map img {
    width: 1175px;
    height: 443px;
    object-fit: cover;
}

.rasti-section .map {
    margin-left: 100px;
}

.pabaiga {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 47px 72px;
    box-sizing: border-box;
}

.pabaiga h1 {
    color: #222;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}
.pabaiga ul {
    padding: 0;
    margin: 0;

}

.pabaiga ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 63px;
}

.pabaiga a {
    text-decoration: none;
    color: #222222;
}