/* 
    NAVIGATION!!!!
*/

.navbar {
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px;
    height: 72px;
    box-sizing: border-box;
}

.navbar ul li {
    margin-left: 50px;
}

.navbar .nav-item .hover:hover {
    text-decoration: underline;
}

/* 
NAVIGATION TYPOGRA!!!
*/

nav .container .navbar-brand {
    color: var(--Coffee-black-100, #32292F);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

nav .collapse ul li a {
    color: var(--Coffee-black-100, #32292F);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s all;
}

/* 
  HOME-PAGE
*/

.header1 {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    max-width: 1440px;
}

.turinys {
    width: 822px;
    height: 768px;
    background: var(--Coffee-black-5, #F6F4F5);
    position: relative;
    padding: 198px 310px 304px 0;
}

.container .bg1-1 {
    position: absolute;
    margin-left: 700px;
}

.container .bg1 {
    width: 737px;
    height: 536px;
    object-fit: cover;
}