html, body {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    background-color: bisque;
    padding: 25px 15px;
    justify-content: space-between;
    align-items: center;

}

div ul li {
    display: inline-block;
    text-indent: 20px;
}

header {
    display: flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header p {
    width: 70%;
}

h3, p {
    margin: 0;
}
.antraste {
    display: flex;
    padding: 30px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.antraste .stulpelis h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.antraste .stulpelis {
    width: 25%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
}

.footer {
    display: flex;
    background: purple;
    color: white;
    padding: 20px;
    justify-content: space-around;
}

.footer2 {
    display: flex;
    background-color: bisque;
    padding: 20px;
    justify-content: space-between;
}

.nuorodos ul li {
    position: relative;
}

.dropdownas li a {
    color: black;
}

  .dropdownas {
    display: none;
    min-height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    transform:  translate(0, 100%);
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
  }

  .show {
    display: block !important;
  }