html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: inline-flex;
    padding: 90px 115px 137px 136px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background: #E2E1E1;
    font-family: 'Inter', sans-serif;
}

#kortele {
    display: flex;
    width: 276px;
    height: 345px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: var(--white-fill, #FFF);
    position: relative;
    /* Elevation/Light/Bottom/02 */
    box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16), 0px 0px 1px 0px rgba(40, 41, 61, 0.04);
}

#image {
    height: 208px;
    width: 276px;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
}

#image img {
    width: 276px;
    height: 176px;
    flex-shrink: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

#data {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--white-fill, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(96, 97, 112, 0.16), 0px 1px 1px 0px rgba(40, 41, 61, 0.04);
    position: absolute;
    right: 16px;
    bottom: 4px;
}

h1 {
    color: var(--black-700-black, #121212);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    margin: 0;
}

#data p {
    color: var(--black-700-black, #121212);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 0.2px;
    margin: 0;
}

#tekstas {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;

}

h2 {
    color: var(--black-400-gray, #959393);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.2px;
    margin: 0;
}

#tekstas p {
    color: var(--black-700-black, #121212);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    /* 120% */
    width: 250px;
    margin-top: 4px;
    margin-bottom: 0px;
}

#zymekliai {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 12px;
    width: 76px;
    height: 32px;
    position: absolute;
    left: 16px;
    bottom: 0px;
}

#bookmark {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: 1px solid #959393;
}

#share {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: 1px solid #959393;
}