body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

// GENERAL 

@import 'general/reset';
@import 'general/typography';

// COMPONENTS

@import 'components/footer';
@import 'components/navbar';
@import 'components/background';

// PAGES

@import 'pages/about';
@import 'pages/home';
@import 'pages/ideas';
@import 'pages/system';
@import 'pages/products';